*{
    text-decoration: none;
}
body{
    background-color: red;
}
section img{
    height: 360px;
    margin: 20px;
    border-radius: 20px;
}
section iframe{
    height: 400px;
    width: 720px;
    margin: 20px;
    border-radius: 30px;
}

section .foto-video{
    display: flex;
    align-items: center;
}

section{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    margin: 20px;
    border-radius: 32px;
    max-width: 70%;
}

section .foto{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('/Descripciones/fotos/hunter-x-hunter-2011-5b06b0fe6b483.jpg');
    background-position: center;
    margin: 20px 0;
    border-radius: 32px;
}

section p{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
}

section h3{
    margin: 0 20px;
    color: white;
    font-size: 40px;
}


footer{
    width: 100%;
    background-color: rgba(255,255,255,0.3);
    border-radius: 32px 32px 0 0;

}

.footer-container{
    display: flex;
    justify-content: space-around;
}

.columna{
    max-width: 32%;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    border-radius: 20px;
    margin: 10px;
    padding: 0 20px;

}
footer .redes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100,100,100,0.4);
    margin: 10px;
    border-radius: 16px;
}
footer .redes img{
    height: 32px;
}

footer .redes p{
    margin: 16px;
}

footer .fila img{
    height: 32px;
}

 footer .fila{
    display: flex;
}

footer .fila p{
    margin: 16px;
}

footer .pie{
    display: flex;
    font-size: 12px;
    align-items: center;
}
footer .pie img{
    width: 16px;
}

header{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 10px;
    padding: 0 20px;
    border-radius: 30px;
    box-shadow: rgba(31, 38, 135, 0.3);
    color: white;
    font-size: 32px;
}