body{
    background-color: red;
}
section img{
    height: 360px;
    margin: 20px;
    border-radius: 20px;
}
section iframe{
    height: 400px;
    width: 720px;
    margin: 20px;
    border-radius: 30px;
}

section .foto-video{
    display: flex;
    align-items: center;
}

section{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px 40px;
    margin: 20px;
    border-radius: 32px;
    max-width: 70%;
}

section .foto{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url('/Descripciones/fotos/hunter-x-hunter-2011-5b06b0fe6b483.jpg');
    background-position: center;
    margin: 20px 0;
    border-radius: 32px;
}

section p{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 20px;
}

section h3{
    margin: 0 20px;
    color: white;
    font-size: 40px;
}

